@font-face {
  font-family: "LGCR";
  src: url("../../front/_assets/Font/LouisGeorgeCafe.ttf") format("TrueType");
}
@font-face {
  font-family: "LGCB";
  src: url("../_assets/Font/Louis/GeorgeCafeBold.ttf") format("TrueType");
}
@font-face {
  font-family: "LGCBI";
  src: url("../_assets/Font/Louis/GeorgeCafeBoldItalic.ttf") format("TrueType");
}
@font-face {
  font-family: "LGCL";
  src: url("../_assets/Font/LouisGeorgeCafeLight.ttf") format("TrueType");
}
@font-face {
  font-family: "LGCLI";
  src: url("../../front/_assets/Font/LouisGeorgeCafeLightItalic.ttf") format("TrueType");
}
@font-face {
  font-family: "Silk Regular";
  src: url("../_assets/Font/Silk Serif Regular.otf") format("OpenType");
}
@font-face {
  font-family: "Silk Medium";
  src: url("../../front/_assets/Font/SilkSerifMedium.otf") format("OpenType");
}
@font-face {
  font-family: "Silk Bold";
  src: url("../_assets/Font/Silk Serif Bold.otf") format("OpenType");
}
@font-face {
  font-family: "Silk Black";
  src: url("../_assets/Font/Silk Serif Black.otf") format("OpenType");
}
@font-face {
  font-family: "Silk Light";
  src: url("../_assets/Font/Silk Serif Light.otf") format("OpenType");
}
body {
  background-color: #141414;
  width: 100%;
}

.column_sign {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 999;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #141414;
}

.column_left_sign {
  height: 100vh;
  width: 50%;
}
.column_left_sign img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.column_right_sign {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.column_right_sign .box_croix_sign {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 10vh;
  width: 100%;
}

.croix_sign {
  width: 20%;
}
.croix_sign a .croix_sign_img {
  width: 30px;
  height: auto;
  height: 100%;
}

.box_title_sign {
  width: 100%;
  color: #fcf8f2;
  font-size: 50px;
  line-height: 50px;
}
.box_title_sign p {
  padding-left: 106px;
}

.deja_inscrit {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-family: "LGCLI";
}
.deja_inscrit a {
  color: #FF9185;
  text-decoration: none;
  transition: 0.4s;
}
.deja_inscrit a :hover {
  text-decoration: underline;
}

.box_formulaire_signup {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.box_formulaire_signup form {
  font-family: "LGCR";
  width: 50%;
}
.box_formulaire_signup form .champs,
.box_formulaire_signup form .nom_sign input {
  padding-left: 10px;
  font-family: "LGCR";
  width: 95%;
}
.box_formulaire_signup form p {
  margin-top: 3%;
  margin-bottom: 8px;
  color: #fcf8f2;
}
.box_formulaire_signup form .nom_prenom_sign {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box_formulaire_signup form .nom_prenom_sign input {
  border-radius: 3px;
  outline: none;
  background-color: #1A1A1A;
  width: 100%;
  height: 42px;
}
.box_formulaire_signup form .nom_prenom_sign .nom_sign {
  justify-self: start;
  width: 47.5%;
}
.box_formulaire_signup form .nom_prenom_sign .nom_sign input {
  width: 90%;
}
.box_formulaire_signup form .nom_prenom_sign .prenom_sign {
  justify-self: end;
  width: 47.5%;
}
.box_formulaire_signup form .nom_prenom_sign .prenom_sign input {
  padding-left: 10px;
  width: 90%;
}
.box_formulaire_signup form .champs {
  border-radius: 3px;
  outline: none;
  background-color: #1A1A1A;
  width: 95%;
  height: 42px;
}
.box_formulaire_signup form label {
  color: #fcf8f2;
}
.box_formulaire_signup form .checkbox_sign {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #fcf8f2;
  font-size: 12px;
}
.box_formulaire_signup form .checkbox_sign input {
  width: auto;
}
.box_formulaire_signup form .checkbox_sign a {
  color: #FF9185;
  text-decoration: none;
  transition: 400ms;
}
.box_formulaire_signup form .checkbox_sign a :hover {
  text-decoration: underline;
}
.box_formulaire_signup form .required_caracter {
  font-size: 11px;
  color: #fcf8f296;
}

.connect {
  font-family: "LGCL";
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 25px;
  margin-top: 10px;
}
.connect input {
  border-radius: 9px;
  border: none;
  background-color: #FF9185;
  height: 100%;
  font-family: "LGCR";
}

input[type=submit]:hover {
  box-shadow: 0 0 8px 0 #FF9185;
}

.remember {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.remember .check {
  height: fit-content;
  align-items: center;
}

/* NE PAS TOUCHER !!!!!!!
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  z-index: 99;
  padding-left: 20px;
  padding-right: 20px;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fcf8f2;
  background-color: #101010;
  align-items: center;
}
.header img {
  width: 50px;
  height: auto;
}
.header p {
  font-family: "Silk Medium";
  display: flex;
  align-items: center;
  font-size: 50px;
}
.header a {
  font-family: "LGCR";
  color: #fcf8f2;
  text-decoration: none;
}
.header a:hover {
  color: #FF9185;
  transition: 400ms;
}

/* Section Newsletter */
.ContainerFooter {
  background-color: #101010;
  z-index: 1;
}

.Newsletter {
  width: 100%;
  height: 368px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitreNewsletter {
  font-family: "Silk Medium";
  font-size: 30px;
  color: #FCF8F2;
  margin-top: 34px;
}

.AccrocheNewsletter {
  font-family: "LGCR";
  font-size: 18px;
  color: #fcf8f2;
  margin-top: 67px;
  margin-bottom: 48px;
}

.DroitNewsletter {
  font-family: "LGCR";
  font-size: 14px;
  color: #FCF8F2;
  align-self: center;
  margin-top: 38px;
}

.ContainerFooter hr {
  width: 99.8%;
  color: #fcf8f2;
}

.Footer {
  display: flex;
  height: 234px;
  margin-top: 60px;
  padding-left: 93px;
  padding-right: 93px;
  justify-content: space-between;
}
.Footer a {
  font-family: "LGCR";
  text-decoration: none;
  color: #fcf8f2;
  margin: 0;
  transition: 400ms;
}
.Footer a:hover {
  color: #FF9185;
}

.InstagramFooter {
  display: flex;
}

.InstagramFooter .FooterInstaLogo {
  width: 18px;
}

.Footer p {
  color: #fcf8f2;
  margin: 0;
}

.Footer img {
  color: #fcf8f2;
  width: 50px;
  height: auto;
}

.ChampNewsletter img {
  right: 0;
  position: absolute;
  height: 80%;
  width: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 2%;
}

.ChampNewsletter {
  position: relative;
  width: 30vw;
  height: 42px;
  align-items: center;
}
.ChampNewsletter ::placeholder {
  color: #141414;
  font-family: "LGCR";
}

.ChampNewsletter input[type=email] {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 14px;
  border: 2px solid;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.ChampNewsletter input[type=email]:focus {
  border-color: #FF9185;
  color: #141414;
  box-shadow: 0 0 8px 0 #FF9185;
}

.InstagramFooter .FooterInstaLogo img {
  width: 100%;
  height: auto;
}

.is-gone {
  display: none;
}

.is-active {
  display: block;
  opacity: 1;
}

.is-here {
  display: block;
  transition: 1s;
  opacity: 1;
  transform: scale(1);
}

.is-out {
  transition: 1s;
  opacity: 0;
  transition: scale(0.8);
}

input {
  outline: none;
  border: 1px solid #fcf8f2;
  color: #fcf8f2;
}

input:focus {
  border: 1px solid #FF9185;
  box-shadow: 0 0 8px 0 #FF9185;
}

::placeholder {
  color: #fcf8f2;
}

.container_accueil {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_accueil .profil1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.container_accueil .profil1 img {
  position: absolute;
  height: 70%;
  width: auto;
}
.container_accueil .column_vide {
  z-index: 55;
  width: 20%;
  height: 100%;
}
.container_accueil .column_vide .explain {
  display: flex;
  flex-direction: row;
  align-items: center;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  color: #fcf8f2;
  font-size: 17px;
  font-family: "LGCL";
}
.container_accueil .column_vide .explain img {
  margin-bottom: 8px;
  margin-top: 8px;
  width: 15px;
  height: auto;
}
.container_accueil .column_vide .explain p {
  padding-left: 6px;
}
.container_accueil .explain_column {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.container_accueil .Chiffre_column {
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container_accueil .Chiffre_column a {
  text-decoration: none;
  color: #fcf8f2;
  font-size: 40px;
  font-family: "LGCL";
  margin: 6px;
  transition: 200ms;
}
.container_accueil .Chiffre_column a:hover {
  color: #FF9185;
}
.container_accueil .Chiffre_column hr {
  width: 30%;
  color: #FF9185;
  border: 0.5px solid #FF9185;
}
.container_accueil .Chiffre_column p {
  color: #fcf8f2;
  font-family: "LGCL";
}
.container_accueil .Chiffre_column .chiffres {
  margin-top: 15%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipeUp {
  transition: 1s;
  transform: translate(0, -100%) scale(0.8);
  opacity: 0;
}

.swipeDown {
  transition: 1s;
  transform: translate(0, 100%) scale(0.8);
  opacity: 0;
}

.rgpd_container {
  width: 90%;
  padding: 10vh;
  position: absolute;
  top: 10vh;
  background-color: #141414;
  z-index: 998;
}
.rgpd_container .croix_container_cgu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.rgpd_container .croix_container_cgu a {
  height: 100%;
}
.rgpd_container .croix_container_cgu img {
  width: 30px;
  height: auto;
}
.rgpd_container h1 {
  color: #fcf8f2;
  font-family: "Silk Medium";
  margin: 0;
  font-size: 36px;
}
.rgpd_container h2 {
  color: #fcf8f2;
  font-family: "LGCB";
  margin: 0;
  font-size: 23px;
  padding-top: 100px;
}
.rgpd_container P {
  line-height: initial;
  color: #fcf8f2;
  font-family: "LGCR";
  margin: 0;
  font-size: 18px;
}

.bigContainer_cookiePop {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  z-index: 99;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
}
.bigContainer_cookiePop .overlay-cook {
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.bigContainer_cookiePop .container_cookiePop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fcf8f2;
  width: 100%;
  height: 20vh;
  background-color: #070707;
  opacity: 1;
}
.bigContainer_cookiePop .container_cookiePop p {
  font-family: "LGCR";
}
.bigContainer_cookiePop .container_cookiePop p a {
  text-decoration: none;
  color: #FF9185;
}
.bigContainer_cookiePop .container_cookiePop p a:hover {
  text-decoration: underline;
}
.bigContainer_cookiePop .container_cookiePop .container_button_cookiePop {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.bigContainer_cookiePop .container_cookiePop .container_button_cookiePop a {
  width: 5%;
  font-size: 15px;
  border-radius: 15px;
  padding: 4px;
  text-decoration: none;
  color: #141414;
  font-family: "LGCR";
  font-weight: 900;
  margin-top: 10px;
}
.bigContainer_cookiePop .container_cookiePop .container_button_cookiePop a:hover {
  box-shadow: 0 0 8px 0 #FF9185;
  transition: 200ms;
}
.bigContainer_cookiePop .container_cookiePop .container_button_cookiePop .accepter {
  background-color: #FF9185;
  margin-right: 5px;
}
.bigContainer_cookiePop .container_cookiePop .container_button_cookiePop .decliner {
  background-color: #fcf8f2;
  margin-left: 5px;
}

.blur {
  filter: blur(4px);
  transition: 1s;
}

/*# sourceMappingURL=style.css.map */
