.container_accueil {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        height: 80%;
        width: auto;
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 100%;
    }
    .column_vide {
        width: 20%;
        a {
            text-decoration: none;
            color: $blanc;
            font-size: 40px;
            font-family: 'LGCL';
            margin: 2px;
            transition: 400ms;
        }
        a:hover {
            color: $rose;
        }
    }
    .Chiffre_column {
        margin-top: 10%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        .chiffres {
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.swipeUp {
    transition: 1s;
    transition-delay: 300ms;
    transform: translate(0, 100%) scale(0.8);
    opacity: 0;
}