.is-gone {
    display: none;
}

.is-active {
    display: block;
    opacity: 1;
}

.is-here {
    display: block;
    transition: 1s;
    opacity: 1;
    transform: scale(1);
}

.is-out {
    transition: 1s;
    opacity: 0;
    transition: scale(0.8);
}

input {
    outline: none;
    border: 1px solid $blanc;
    color: $blanc;
}

input:focus {
    border: 1px solid $rose;
    box-shadow: 0 0 8px 0 $rose;
}

::placeholder {
    color: $blanc;
}