.cookie p {
    color: #f2f2f2;
    font-family: "Louis George Cafe";
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.cookie h1 {
    color: #f2f2f2;
    font-family: "Silk Serif";
    font-weight: normal;
    font-size: 36px;
    margin: 0;
}

.cookie h2 {
    color: #f2f2f2;
    font-family: "Louis George Cafe";
    font-weight: normal;
    font-size: 20px;
    margin: 0;
}