@font-face {
    font-family: "LGCR";
    src: url("../../_assets/Font/LouisGeorgeCafe.ttf") format("TrueType");
}

@font-face {
    font-family: "LGCB";
    src: url("/_assets/Font/Louis/GeorgeCafeBold.ttf") format("TrueType");
}

@font-face {
    font-family: "LGCBI";
    src: url("/_assets/Font/Louis/GeorgeCafeBoldItalic.ttf") format("TrueType");
}

@font-face {
    font-family: "LGCL";
    src: url("../_assets/Font/LouisGeorgeCafeLight.ttf") format("TrueType");
}

@font-face {
    font-family: "LGCLI";
    src: url("/_assets/Font/Louis\ George\ Cafe\ Light\ Italic.ttf") format("TrueType");
}

@font-face {
    font-family: "Silk Regular";
    src: url("/_assets/Font/Silk\ Serif\ Regular.otf") format("OpenType");
}

@font-face {
    font-family: "Silk Medium";
    src: url("/_assets/Font/Silk\ Serif\ Medium.otf") format("OpenType")
}

@font-face {
    font-family: "Silk Bold";
    src: url("/_assets/Font/Silk\ Serif\ Bold.otf") format("OpenType");
}

@font-face {
    font-family: "Silk Black";
    src: url("/_assets/Font/Silk\ Serif\ Black.otf") format("OpenType");
}

@font-face {
    font-family: "Silk Light";
    src: url("../_assets/Font/Silk\ Serif\ Light.otf") format("OpenType");
}